body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand {
    font-weight: bold;
}

.hero {

    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.section-title {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

